@import url('https://fonts.googleapis.com/css?family=Exo:400,500');

.root {
  grid-row: 1 / span 1;
  grid-column: 1 / span 3;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.header {
  grid-column: 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Exo', sans-serif;
}

.SearchBar {
  grid-column: 2 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #6c757d;
  align-content: left;
}

.logo {
  height: 6em;
  width: 6em;
}